<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.cooeeui.h5gamecenter">

    <!-- 友盟统计 umeng begin -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!-- 友盟统计 umeng end -->

    <!-- 友盟自更新 begin -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <!-- 友盟自更新 end -->

    <application
            android:name=".main.App"
            android:allowBackup="true"
            android:hardwareAccelerated="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:largeHeap="true"
            android:persistent="true"
            android:supportsRtl="true">
        <activity
                android:name=".main.news.NewsActivity"
                android:launchMode="singleTask"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <!--
        <activity
                android:name=".main.H5GameActivity"
                android:launchMode="singleTask"
                android:screenOrientation="portrait"
                android:theme="@style/GameTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        -->
        <!--
        <activity
                android:name=".main.MyTestActivity"
                android:launchMode="singleTask"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        -->
        <!--
        <activity
                android:name=".main.H5GameCenterActivity"
                android:launchMode="singleTask"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme">
        </activity>
        -->

        <service
                android:name=".main.news.NewsPushService"
                android:enabled="true"
                android:exported="true">
        </service>


        <!-- 友盟自更新 begin -->
        <service
                android:name="com.umeng.update.net.DownloadingService"
                android:process=":DownloadingService">
        </service>
        <activity
                android:name="com.umeng.update.UpdateDialogActivity"
                android:theme="@android:style/Theme.Translucent.NoTitleBar">
        </activity>
        <!-- 友盟自更新 end -->

    </application>

</manifest>
